@import '../../variables.scss';

.card {
  @include flex(column, center, center);
  text-align: center;
  font-family: $ff-menu;
  font-weight: $weight-600;
  color: $p-white;
  background: url('../../assets/menu-background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__form {
    @include flex(column, center, center);
    gap: $gap-medium;
    margin: $m-10;
    background-color: $t-black;
    border-radius: $br-20;
    padding: 20px;

    &__title {
      font-size: $fs-large;
      font-family: $ff-menu;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &__group {
      @include flex(column, center, center);
      gap: $gap-small;
      margin-bottom: 0.5rem;
      padding: 10px;

      &__input {
        text-align: center;
        padding: 10px 30px;
        height: 30px;
        border: $bs-1 $p-green;
        border-radius: $br-10;
        font-family: $ff-menu;
        font-weight: $weight-600;
        background-color: black;
        color: white;
      }
    }

    &__btn {
      cursor: pointer;
      background-color: $p-green;
      font-family: $ff-menu;
      padding: 10px 30px;
      font-size: $fs-medium;
      font-weight: $weight-600;
      border: $b-0;
      border-radius: $br-10;
      text-transform: uppercase;
    }

    &__redirect {
      cursor: pointer;
      background-color: $p-green;
      font-family: $ff-menu;
      padding: 10px;
      font-size: $fs-medium;
      font-weight: $weight-600;
      border: $b-0;
      border-radius: $br-10;
      text-transform: uppercase;

      &__link {
        text-decoration: none;
        color: white;
      }
    }
  }
}
