@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: url('./assets/menu-background.gif');
  background-repeat: no-repeat;
  width: 100vw;
  position: absolute;
}
