// Font imports
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Island+Moments&family=MedievalSharp&family=Viaoda+Libre&display=swap');

//////////////////////
// media           //
/////////////////////
$breakpoint-phone: 500px;
$breakpoint-tablet: 810px;
$breakpoint-desktop: 1200px;

//////////////////////
// colors           //
/////////////////////
// primary colors
$primary-black: hsl(0, 0%, 0%);
$primary-white: hsl(0, 0%, 100%);
$primary-green: hsl(147, 50%, 47%);
$primary-yellow: hsl(39, 100%, 50%);
$primary-beige: rgb(230, 212, 177);

// accent
$accent-purple: hsl(248, 53%, 58%);
$accent-grey: hsl(211, 12%, 48%);

// transparent
$transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.3);
$small-transparent-black: rgba(0, 0, 0, 0.75);

//////////////////////
// fonts            //
/////////////////////

$font-fam-primary: 'MedievalSharp', cursive;
$font-fam-secondary: 'Crimson Text', serif;
$font-fam-danger: 'Viaoda Libre', cursive;
$font-fam-succes: 'Island Moments', cursive;

//////////////////////
// typography       //
/////////////////////

// font-sizes
$fs-xsmall: 12px;
$fs-small: 14px;
$fs-medium: 18px;
$fs-large: 22px;
$fs-xlarge: 30px;

//  font-weights
$weight-900: 900;
$weight-800: 800;
$weight-700: 700;
$weight-600: 600;
$weight-500: 500;
$weight-400: 400;
$weightL-300: 300;
$weight-200: 200;
$weight-100: 100;

//////////////////////
// utility var.     //
/////////////////////
/// gap
$gap-large: 32px;
$gap-medium: 16px;
$gap-small: 8px;
//////////////////////
/// border-radius
$border-radius-50: 50px;
$border-radius-40: 40px;
$border-radius-30: 30px;
$border-radius-20: 20px;
$border-radius-15: 15px;
$border-radius-10: 10px;
//////////////////////
/// border-style
$border-0: none;
$border-1: solid 1px;
$border-2: solid 2px;
$border-3: solid 3px;
//////////////////////
/// margin
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
$spacing-xlarge: 40px;
//////////////////////

//////////////////////
// utility classe   //
/////////////////////

// display : grid & flex

@mixin grid($grid-template-columns, $justify-items, $align-items) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  justify-items: $justify-items;
  align-items: $align-items;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
