@import '../../variables.scss';

.char {
  @include grid(2fr 2fr, center, center);
  background-color: $transparent-black;
  width: 50%;

  &__title {
    color: $primary-white;
  }

  &__container {
    @include flex(column, center, center);
    &__title {
      color: $primary-white;
    }
  }

  &__config {
    @include flex(row, center, center);
    gap: $spacing-small;
  }

  &__input {
    @include flex(column, center, center);
    color: $primary-white;
  }

  &__btn {
    cursor: pointer;
    background-color: $primary-green;
    color: $primary-black;
    border: $border-0;
    border-radius: $border-radius-10;
    padding: $spacing-small;
  }

  &__preview {
    color: white;
  }
}
