@import '../../variables.scss';

.char {
  @include grid(2fr 2fr, center, center);
  background-color: $transparent-black;
  width: 50%;
  margin: auto;
  padding: $spacing-medium;
  font-family: $font-fam-primary;

  &__title {
    color: $primary-white;
  }

  &__container {
    @include flex(column, center, center);
    gap: $spacing-medium;
    &__title {
      color: $primary-white;
    }
  }

  &__config {
    @include flex(row, center, center);
    gap: $spacing-small;
  }

  &__input {
    @include flex(column, center, center);
    color: $primary-white;

    &__name {
      text-align: center;
      height: $spacing-large;
      border: $border-1 $primary-green;
      border-radius: $border-radius-10;
      font-family: $font-fam-primary;
      font-weight: $weight-600;
      background-color: $primary-black;
      color: $primary-white;
      width: 250px;
    }
  }

  &__btn {
    cursor: pointer;
    background-color: $primary-green;
    color: $primary-black;
    border: $border-0;
    border-radius: $border-radius-10;
    padding: $spacing-small;
    font-family: $font-fam-primary;
  }

  &__preview {
    color: white;
  }

  .char__stats {
    color: $primary-white;
    &__cont {
      @include grid(2fr 2fr, center, center);
    }
  }
}
