@import '../../variables.scss';

.form__register {
  @include flex(column, center, center);
  text-align: center;
  font-family: $font-fam-primary;
  font-weight: $weight-600;
  color: $primary-white;
  padding-top: 50px;
}

span {
  color: red;
  font-size: $fs-small;
  font-weight: $weight-500;
}
