@import '../../variables.scss';

.card {
  @include flex(column, center, center);
  text-align: center;
  font-family: $ff-menu;
  font-weight: $weight-600;
  color: $p-white;
  background: url('../../assets/menu-background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .form {
    @include flex(column, center, center);
    gap: $gap-medium;
    margin: $spacing-small;
    background-color: $t-black;
    border-radius: $border-radius-20;
    padding: $spacing-medium;

    &__title {
      font-size: $fs-large;
      font-family: $ff-menu;
      letter-spacing: $spacing-small;
      text-transform: $upper;
    }

    &__group {
      @include flex(column, center, center);
      gap: $gap-small;
      margin-bottom: $spacing-small;
      padding: $spacing-small;

      &__input {
        text-align: center;
        height: $spacing-large;
        border: $border-1 $p-green;
        border-radius: $border-radius-10;
        font-family: $ff-menu;
        font-weight: $weight-600;
        background-color: $p-black;
        color: $p-white;
      }
    }

    &__btn {
      cursor: pointer;
      background-color: $p-green;
      font-family: $ff-menu;
      padding: $spacing-small;
      font-size: $fs-medium;
      font-weight: $weight-600;
      border: $border-0;
      border-radius: $border-radius-10;
      text-transform: $upper;
    }

    &__redirect {
      cursor: pointer;
      background-color: $p-green;
      font-family: $ff-menu;
      padding: $spacing-small;
      font-size: $fs-medium;
      font-weight: $weight-600;
      border: $border-0;
      border-radius: $border-radius-10;
      text-transform: $upper;
      width: 193px;

      &__link {
        text-decoration: none;
        color: $p-white;
        font-size: $fs-small;
      }
    }
  }
}

span {
  color: red;
  font-size: $fs-small;
  font-weight: $weight-500;
}
